tests/scripts/test-docker.sh
**/__pycache__
!tests/unit/test_modulegraph/testdata/syspath/mymodule2.pyc
env
build
dist
.git
.dockerignore
*.dockerfile
Dockerfile
doc
bootloader/.waf*
bootloader/build
news
.github
PyInstaller/bootloader/Windows*
**/*.egg-info
