root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 2

[{*.py,*.pyw,*.spec,SConstruct,wscript,*.rst}]
indent_size = 4
tab_width = 4
