*	text=auto
README	text=auto
Makefile	text=auto

# image files and such
*.pdf	-text
*.ico	-text
*.icns	-text
*.tiff	-text
*.png	-text

# executables
run	-text
run_d	-text
runw	-text
runw_d	-text
*.exe	-text
*.dll	-text

/PyInstaller/utils/_gitrevision.py ident export-subst
# Tests relay on fixed \n line end
/tests/unit/test_modulegraph/testdata/test.txt text eol=lf
