*	text=auto
README	text=auto
Makefile	text=auto

# image files and such
*.pdf	-text
*.ico	-text
*.icns	-text
*.tiff	-text
*.png	-text

# executables
run	-text
run_d	-text
runw	-text
runw_d	-text
*.exe	-text
*.dll	-text

# misc
*.sqlite3 -text
*.egg     -text
*.zip     -text

/PyInstaller/utils/_gitrevision.py ident export-subst
# Tests relay on fixed \n line end
/tests/unit/test_modulegraph/testdata/test.txt text eol=lf

# Language aware diff headers
# https://tekin.co.uk/2020/10/better-git-diff-output-for-ruby-python-elixir-and-more
# https://gist.github.com/tekin/12500956bd56784728e490d8cef9cb81
# https://github.com/git/git/blob/master/userdiff.c
*.c     diff=cpp
*.h     diff=cpp
*.md    diff=markdown
*.py    diff=python
*.rc    diff=pascal
*.spec  diff=python
*.toc   diff=python
wscript diff=python
