*~
.\#*
\#*#

*.py[co]
__pycache__/
/*.egg
/*.egg-info/
/*.egg-link

# /
/AES.pyd
/AES.so
/*.bak
/build/
/dist/
/*.patch
/MANIFEST

# Temporary vim files
*.swp

# Temporary rope files
.ropeproject

# PyCharm settings
.idea

# /tests/
/tests/build*
/tests/dist*
/tests/logdict*.log
/tests/test*.exe
/tests/warn*.txt
/tests/python_exe.build
/tests/report.xml

/tests/*/build/
/tests/*/dist/

# ignore generated spec-files
# NB: You can still add .spec-files to be tracked using `git add`
/tests/*/*.spec

# /tests/basic/
/tests/basic/python_exe.build

# /tests/basic/ctypes/
/tests/basic/ctypes/testctypes.dylib
/tests/basic/ctypes/testctypes.so
/tests/basic/ctypes/testctypes-win.dll
/tests/basic/ctypes/testctypes-win.exp
/tests/basic/ctypes/testctypes-win.obj
/tests/basic/ctypes/testctypes-win.lib

# /tests/libraries/
/tests/libraries/tinysample.png
/tests/libraries/test_xml.spec
/tests/basic/test_absolute_ld_library_path.spec
/tests/basic/test_absolute_python_path.spec
/tests/libraries/test_sqlalchemy.spec

/old/e2etests/common/hanoi[1-9]

# /doc/
/doc/source/_definitions.txt
/doc/source/_pyi*.tmp

# Bootloader source
/bootloader/.lock-wscript
/bootloader/build
/bootloader/waf-*
/bootloader/.waf-*
