graft bootloader
graft doc
graft PyInstaller
graft tests

include *.rst
include *.txt
include pyinstaller.py
include pyinstaller-gui.py

prune bootloader/build
prune bootloader/.waf*
prune bootloader/waf3-*
exclude bootloader/.lock-waf*

prune doc/source
prune old
prune scripts
prune tests/scripts

exclude .* *.yml
global-exclude *.py[co]
