# This is the pip requirements file for running PyInstaller.
# If you want to run the test you will also need to install what is
# defined in tests/requirements-tools.txt and for extensive testing
# also tests/requirements-libraries.txt.

## IMPORTANT: Keep aligned with setup.cfg

setuptools==49.6.0
altgraph==0.17
pyinstaller-hooks-contrib >= 2020.6
pefile==2019.4.18; sys_platform == 'win32'
pywin32-ctypes; sys_platform == 'win32'
macholib; sys_platform == 'darwin'

## IMPORTANT: Keep aligned with setup.cfg
