# For running tests
pytest
pytest-xdist
mock

# Helper tools
pycmd  # Contains 'py.cleanup' that removes all .pyc files and similar.

# Test libraries
pycrypto==2.6.1  # Required for crypto feature - encrypting bytecode.
Django==1.8.3
