# Include some common dependencies for tests.
-r requirements.txt

pyreadline  # Colors in IPython on Windows. This is Windows-only package.
pypiwin32  # This package is a pip-installable version of PyWin32.
pyenchant
PySide==1.2.4
