# Windows-specific test libraries.
#
# Libraries listed below are only installed by Windows-specific continuous
# integration (CI) services (e.g., AppVeyor). Platform-agnostic libraries are
# listed in the "requirements-libraries.txt" file included below.

# Install all platform-agnostic libraries.
-r requirements-libraries.txt

pefile  # For parsing PE headers and get list of dependent DLLs.
pyreadline  # Colors in IPython on Windows. This is Windows-only package.
pypiwin32  # This package is a pip-installable version of PyWin32.
pyenchant
# No wheel for python 3.5
PySide==1.2.4 ; python_version <= '3.4'
