# This is the pip requirements file for developers and release managers. This
# will install development tools and release helpers as well as the
# requirements for running the PyInstaller base test-suite.
#
# Example (assuming current dir is PyInstaller's top-level source dir)::
#
#   python -m pip install -r tests/requirements-developer.txt
#   python -m pip install -r tests/requirements-libraries.txt  # extensive

# include requirements for base testing
-r requirements-tools.txt

### Helpers for development

ipython  # Better interactive Python shell.
pyreadline ; sys_platform == 'win32'  # Colors in IPython, Windows-only package.
pycmd  # Contains 'py.cleanup' that removes all .pyc files and similar.

### Helpers for releases

twine         # For secure upload of tar.gz to PYPI.

towncrier==22.8.0    # For creating the change-log file.
