# Include some common dependencies for tests.
-r requirements-libraries.txt

pypiwin32  # This package is a pip-installable version of PyWin32.
pyenchant
# No wheel for python 3.5
PySide ; python_version <= '3.4'
