# Work-around for a bug in execnet 1.4.1
# :todo: remove this again, once a version of execnet fixing this is released
hg+https://htgoebel@bitbucket.org/htgoebel/execnet

# For running tests
pytest >= 2.7.3  # Testing framework.
pytest-xdist     # Plugin allowing running tests in parallel.
pytest-timeout   # Plugin to abort hanging tests.
pytest-catchlog  # Capture log output separately from stdout/stderr
pytest-drop-dup-tests # allows specifying order without duplicates

psutil  # Better subprocess alternative with implemented timeout.
