# This is the pip requirements file for extensive
# PyInstaller testing.
#
# Example (assuming current dir is PyInstaller's top-level source dir)::
#
#   python -m pip install -r tests/requirements-libraries.txt  # extensive

# include requirements for base testing
-r requirements-tools.txt

# Backport of importlib.resources for python 3.8 and earlier.
importlib_resources==5.4.0; python_version < '3.9'

# Needs work
# ----------
# These packages, if updated, produce test failures. Work needs to be done on
# these hooks. Any requirement in this list should be followed by the
# `# pyup: ignore <https://pyup.io/docs/bot/filter/>`_ comment.
#
# - v. 2.2 and above fails.
Django==2.1.8  # pyup: ignore


# Working
# -------
# These packages work with no (known) issues.
babel==2.9.1
future==0.18.2
gevent==21.12.0
# keyring >= 23.1 requires python >= 3.8.7 on macOS 11 and later (with dyld shared cache support)
# For python 3.6, we pin keyring in the "unsupported versions" section.
keyring==23.0.1; python_version > '3.6' and (sys_platform == 'darwin' and python_version < '3.8.7')  # pyup: ignore
keyring==23.5.0; python_version > '3.6' and (sys_platform != 'darwin' or python_version >= '3.8.7')
pygments==2.11.2
PyGObject==3.42.0; sys_platform == 'linux'
pyside2==5.15.2.1
# pyside6 6.2.2 wheel is incompatible with python < 3.8 on macOS
pyside6==6.2.1; sys_platform == 'darwin' and python_version < '3.8'  # pyup: ignore
pyside6==6.2.3; sys_platform != 'darwin' or python_version >= '3.8'
pyqt5==5.15.6; python_version < '3.10'
pyqtwebengine==5.15.5; python_version < '3.10'
pyqt6==6.2.3  # PyQt6 Qt6 bindings
pyqt6-qt6==6.2.3  # Qt6 binaries (keep in sync with pyqt6 version!)
pyqt6-webengine==6.2.1  # PyQt6 QtWebEngine bindings
pyqt6-webengine-qt6==6.2.3  # Qt6 QtWebEngine binaries
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
# simplejson is used for text_c_extension
simplejson==3.17.6
sphinx==4.4.0
# Required for test_namespace_package
sqlalchemy==1.4.31
zope.interface==5.4.0
Pillow==9.0.1; python_version > '3.6'
Pillow==8.4.0; python_version <= '3.6'  # pyup: ignore


# Python versions not supported / supported for older package versions
# -------------------------------------------------------

# keyring 23.4.1 is the last version available for python 3.6.
# As python 3.6 is not supported on macOS 11 anyway, we do not need
# to worry about keyring >= 23.1 requiring dyld shared cache support,
# and can pin to latest supported version, 23.4.1.
keyring==23.4.1; python_version <= '3.6'  # pyup: ignore

# iPython 7.17 dropped support for python 3.6
# iPython 8.0 dropped support for python 3.7
ipython==8.0.1; python_version >= '3.8'
ipython==7.31.0; python_version == '3.7'  # pyup: ignore
ipython==7.16.1; python_version <= '3.6'  # pyup: ignore

# pandas also dropped support
pandas==1.4.1; python_version >= '3.8'
pandas==1.3.5; python_version == '3.7'  # pyup: ignore
pandas==1.1.5; python_version <= '3.6'  # pyup: ignore

# so did numpy (which also dropped support for 3.7 as of 1.22)
numpy==1.22.0; python_version >= '3.8'
numpy==1.21.5; python_version == '3.7'  # pyup: ignore
numpy==1.19.4; python_version <= '3.6'  # pyup: ignore

# scipy too
scipy==1.8.0; python_version >= '3.8'
scipy==1.7.3; python_version == '3.7'  # pyup: ignore
scipy==1.5.4; python_version <= '3.6'  # pyup: ignore

# and matplotlib
matplotlib==3.5.1; python_version >= '3.8'
matplotlib==3.4.3; python_version == '3.7'  # pyup: ignore
matplotlib==3.3.4; python_version <= '3.6'  # pyup: ignore

# Install PyInstaller Hook Sample, to ensure that tests declared in
# entry-points are discovered.
https://github.com/pyinstaller/hooksample/archive/v4.0rc1.zip  # pyup: ignore
