# pure python modules
setuptools
docutils
jinja2
sphinx
pyusb
pytz
pyenchant
IPython

# uses ctypes, but requires speech lib to be installed
pyttsx

# extension modules which do not require external headers
simplejson
SQLAlchemy
multiprocessing

# Extension modules which require additional external headers.
# Most probably you want to install them using your operating systems
# package-management.
twisted
PIL
MySQL-python
psycopg2
# gst
matplotlib
numpy
scipy
pycrypto
pygame
#pyodbc
wxPython # was installed for windows only

### Others from old setupenv_unix.py and setupenv_windows.py
keyring
markdown
pycparser
pyexcelerate
pylint
# pyodbc # was installed for unix only
qt4reactor
requests
scapy
# pywin32 -- windows only

six  # was installed for unix only
